{% extends "headers.html" %}
{% block content %}

<!-- Main Content -->
<main class="bg-light bg-gradient" style="margin-top: 0;">
  <h2 class="display-1 text-center" style="margin-top: 145px;"> About Us</h2>


  <div class="card border-primary" style="border-left-width: thick">

    <div class="card-body">
      <!--<img src="{{url_for('static',filename='logo.svg')}}" class="img-fluid" alt="About Us" style="border-radius: 10px; float: right; width: 30%; height: 30%;"/> -->

      <p class="card-text">
        Developed by :
      </p>
      <p class="card-text">
        KONAKALLA KARTHIKEYA 
        B.Tech - AIML
      </p>
      <p class="card-text">
        INDANA RAGHAVA
        B.Tech - AIML
      </p>
      <p class="card-text">
        CHAGALLA SWAMY
        B.Tech - AIML
      </p>
      <p class="card-text">
        KUDUPUDI SANDEEP
        B.Tech - AIML
      </p>
    </div>
  </div>
</main>
<!-- Share Icon -->
<div class="floating-container">
  <div class="floating-button">
    <i class="fa-solid fa-share-from-square"></i>
  </div>
  <!-- Elements -->
  <div class="element-container">
    <!-- Facebook -->
    <a class="float-element" href="https://www.facebook.com/share/19FgftEPtj/?mibextid=qi2Omg"
      target="_blank">
      <span>
        <i class="fa-brands fa-facebook"></i>
    </a>

  

    <!-- Twitter or X -->
    <a class="float-element"
      href="https://x.com/SANDEEPKUDUPUDI?t=O_gESPAe5oidzr9pRhrPyA&s=09"
      target="_blank">
      <span>
        <i class="fa-brands fa-x-twitter"></i>
      </span>
    </a>

    <!-- LinkedIn -->
    <a class="float-element"
      href="https://www.linkedin.com/in/karthikeya-konakalla/" target="_blank">
      <span>
        <i class="fa-brands fa-linkedin"></i>
      </span>
    </a>

    <!-- Telegram -->
    <a class="float-element"
      href="http://t.me/vbs_1"
      target="_blank">
      <span>
        <i class="fa-brands fa-telegram"></i>
      </span>
    </a>

  </div>
</div>

{% endblock %}
</body>

</html>